* {
 box-sizing:border-box;
}

body {
	user-select:none;
	padding :0px;
	margin : 0px;
	overflow-x :hidden;
	width:100vw;
	height:auto;
	min-height:100vh;
	background-color:#f7d794;
	font-family :'Monserrat',sans-serif;

}



.navbar {
	width:100vw;
	height:10vh;
	background-color:white;
	box-shadow:5px 5px 8px #FF69B4;
	padding-left: 10%;
	padding-right:10%;
	display:flex;
	align-items:center;
}

.brand {
	font-family:'Unica One',cursive;
	font-size:32pt;
	color:#FF69B4;

}

.menu {
	list-style-type:none;
	display:flex;
	margin-left:auto;

}

li {
	margin-left:50px;
}

.judul {
	text-align:center;
	margin-top:10%;
	font-size : 40pt;
}

#isi {
	text-align :center;
	font-size :30pt;
	

}
